BODY {
   color: black ! important ;
   background: white ! important;
}
body {
   /* Set "section" to 0 */
  counter-reset: section;
}
h1 {
  color: pink;
}
p {
  color: black:
}
body {
  background-color: brown
}
 a: link {
   color: blue;
 }
p {
   padding: 25px, 50px;
 }
h2 {
    color: darkcyan
  }
h3 {
    color: darkmagenta
  }
h1 {
    font-family:Arial;
  }
h2 {
    font-family:Arial;
  }
h3 {
    font-family:Arial;
  }
section.solid {
    border-style: solid;
  }
footer {
    text-align: left;
  }
li {
  text-decoration: underline;
}
ul {
  :focus {outline: thick solid black }
  :active { outline: thick solid orange }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
}
p {
  font-family: Arial
}
section.solid {
  outline-style: solid;
}
